.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.selectFilter {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px; /* Aumenta el padding para hacer los filtros más largos */
  border: 2px solid #00ffcc;
  border-radius: 5px;
  margin: 0 5px 5px 0; /* Ajusta los márgenes para separar los filtros y alinearlos */
  font-size: 16px;
  color: #fff;
  background-color: #1a1a1a;
  width: 200px;
}

.clearFiltersButton {
  margin-left: 10px;
}

.applyFiltersButton,
.clearFiltersButton {
  margin-top: 0;
  padding: 10px; 
  background-color: #00ffcc;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.applyFiltersButton:hover,
.clearFiltersButton:hover {
  background-color: #009966;
}
